*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Orbitron',sans-serif;
background:#0a0a0f;
color:white;
overflow:hidden;
}

/* HERO */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
overflow:hidden;
}

/* BACKGROUND GLOW */
.bg-glow{
position:absolute;
width:150%;
height:150%;
top:-25%;
left:-25%;
background:
radial-gradient(circle at 30% 40%, rgba(255,0,0,0.4), transparent 50%),
radial-gradient(circle at 70% 60%, rgba(0,150,255,0.4), transparent 50%);
filter:blur(120px);
animation:moveGlow 10s ease-in-out infinite alternate;
}

@keyframes moveGlow{
0%{transform:translate(0,0);}
100%{transform:translate(50px,-40px);}
}

.hero-content{
position:relative;
z-index:2;
}

/* PROFILE IMAGE */
.photo-wrapper{
display:flex;
justify-content:center;
margin-bottom:25px;
}

.profile-pic{
width:200px;
height:200px;
object-fit:cover;
border-radius:50%;
border:4px solid #ff0033;
box-shadow:
0 0 25px #ff0033,
0 0 50px #0000ff;
animation:floatPic 4s ease-in-out infinite;
transition:0.4s;
}

.profile-pic:hover{
transform:scale(1.08);
box-shadow:
0 0 40px #00aaff,
0 0 80px #ff0033;
}

@keyframes floatPic{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-15px);}
}

/* NAME */
.name{
font-size:65px;
font-weight:900;
letter-spacing:3px;
text-shadow:
0 0 10px #ff0000,
0 0 20px #ff0000,
0 0 40px #0000ff;
margin-bottom:15px;
}

/* ROLE */
.role{
font-size:24px;
color:#00aaff;
margin-bottom:10px;
}

/* TYPING */
.typing{
overflow:hidden;
white-space:nowrap;
border-right:2px solid #00aaff;
width:0;
animation:typing 3s steps(30,end) forwards, blink 0.7s infinite;
}

@keyframes typing{
to{width:380px;}
}

@keyframes blink{
50%{border-color:transparent;}
}

/* TAGLINE */
.tagline{
font-size:18px;
color:#bbbbbb;
margin-top:10px;
}

/* WHATSAPP BUTTON */
.whatsapp-btn{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#25D366;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:28px;
text-decoration:none;
color:white;
box-shadow:0 0 20px rgba(37,211,102,0.8);
transition:0.3s;
}

.whatsapp-btn:hover{
transform:scale(1.15);
  }.tagline{
font-size:18px;
color:#bbbbbb;
margin-top:10px;
}

/* WHATSAPP */
.whatsapp-btn{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#25D366;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:28px;
text-decoration:none;
color:white;
box-shadow:0 0 20px rgba(37,211,102,0.8);
transition:0.3s;
}

.whatsapp-btn:hover{
transform:scale(1.15);
  }bottom:25px;
right:25px;
background:#25D366;
color:white;
padding:12px 22px;
border-radius:30px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.whatsapp-btn:hover{
background:#1ebe5d;
transform:translateY(-3px);
  }
