*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(135deg,#1e1e2f,#252547);
    color:white;
    transition:0.3s;
}

header{
    padding:15px 10%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

#themeToggle{
    padding:5px 10px;
    border:none;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#00c6ff;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
}

.section{
    padding:80px 10%;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    backdrop-filter:blur(10px);
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:15px;
    width:250px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

footer{
    text-align:center;
    padding:20px;
}
